<div class="column-md-12 text-center well">
  <h2>You can either...</h2>
  <ul class="list-unstyled">
    <li><h3><a href="/tasks">SEE THE TASK LIST</a></h3></li>
    <li><h3><a href="/tasks/new">ADD A NEW TASK</a></h3></li>
  </ul>
</div>
